<!DOCTYPE html>
<html lang="en" >

<head>

  <meta charset="UTF-8">

  <title>JUmping Wheel - Contact Us</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:400,700'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto+Condensed'>

<!--Stylesheet(CSS)==========================-->
<link rel="stylesheet" href="/css/styles.css"/>
<!--==Fav-icon===============================-->
<link rel="shortcut icon" href="/images/logo.png"/>
<!--==Import-poppins-font====================-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<!--==Import-Monoton-Font====================-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
<!--==Using-Font-Awesome======================-->
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  
<style>
*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  /* background: linear-gradient(to right, #ea1d6f 0%, #eb466b 100%); */
  background: #222;
  font-size: 12px;
}

body, button, input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.background {
  display: flex;
  min-height: 73vh;
}

.container {
  flex: 0 10 700px;
  margin: auto;
  padding: 10px;
}

.screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  font-family: 'Monoton';
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  position: relative;
  color: #e70634;
  font-size: 26px;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #e70634;
}

.app-contact {
  margin-top: auto;
  font-size: .7rem;
  color: #888;
}

.app-form-group {
  margin-bottom: 10px;
}

.app-form-group.message {
  margin-top: 50px;
}

.app-form-group.buttons {
  margin-top: 50px;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::-moz-placeholder {
  color: #666;
}

.app-form-control:-ms-input-placeholder {
  color: #666;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #e70634;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #ffffff;
}

.credits {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #ffa4bd;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.credits-link {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }

  .app-form-group.buttons {
  margin-top: 20px;
  text-align: center;
}

.screen-body-item.left {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}
</style>

  <script>
  window.console = window.console || function(t) {};
</script>

  
  
  <script>
  if (document.location.search.match(/type=embed/gi)) {
    window.parent.postMessage("resize", "*");
  }
</script>


</head>

<body translate="no" >

  <!--==Navigation===================================-->
  <nav class="navigation">
    <!--menu-btn--------------->
    <input type="checkbox" class="menu-btn" id="menu-btn">
    <label for="menu-btn" class="menu-icon">
        <span class="nav-icon"></span>
    </label>
    <!--logo------------------->
    <a href="/contact" class="logo">
        JUMPING<span>WHEEL</span>
    </a>
    <!--menu------------------->
    <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/home">Entertainment</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>
<!--nav-end-->

  <div class="background">
  <div class="container">
    <div class="screen">
      <div class="screen-header">
        <div class="screen-header-left">
          <div class="screen-header-button close"></div>
          <div class="screen-header-button maximize"></div>
          <div class="screen-header-button minimize"></div>
        </div>
        <div class="screen-header-right">
          <div class="screen-header-ellipsis"></div>
          <div class="screen-header-ellipsis"></div>
          <div class="screen-header-ellipsis"></div>
        </div>
      </div>
      <div class="screen-body">
        <div class="screen-body-item left">
          <div class="app-title">
            <span>CONTACT</span>
            <span>US</span>
          </div>
          <div class="app-contact">TAMIL NADU, INDIA</div>
          <div class="app-contact">CONTACT INFO: +62 81 314 928 595</div>
        </div>
        <div class="screen-body-item">
          <div class="app-form">

            <form action="mailto:jumpingwhell@example.com" method=”POST” enctype=”multipart/form-data” name=”EmailForm”>

            <div class="app-form-group">
            <div class="app-form-group buttons">
              <button class="app-form-button" type="submit">SEND FEEDBACK</button></a>
            </div>
            </div>
            </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 

<!--==footer==============================-->
<footer>
  <!--footer-logo--->
  <a href="/contact" class="logo">
      JUMPING<span>WHEEL</span>
  </a>
  <!--copyright----->
  <span class="copyright">
      Copyright 2021 - JUmping Wheel
  </span>
</footer>

</body>

<script src="/app.js"></script>

</html>
 
